In [1]:
import numpy as np
import h5py
import pandas as pd
import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix, issparse
from google.colab import drive

In [2]:
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [3]:
with h5py.File('/content/gdrive/My Drive/DATASET_GWAR/metr-la.h5','r') as hdf:
  ls = list(hdf.keys())
  print('List of Datasets in this file are: ',ls)
  data = hdf.get('df')
  print('Type of Data in df is: ', type(data))
  print('Keys in df Group are : ', list(data.keys()))
  print('Data in Axis 0 : \n', np.array(data['axis0']))
  sensor_id_vector_h5 = np.array(data['axis0'])
  # Converting Sensor IDs to Pandas DF
  sensor_id_df = pd.DataFrame(sensor_id_vector_h5)
  print('Shape of Axis 0 : ', np.array(data['axis0']).shape)
  print('Data in Axis 1 : \n', np.array(data['axis1']))
  print('Shape of Axis 1 : ', np.array(data['axis1']).shape)
  time_sequences_vector_h5 = np.array(data['axis1'])
  # Converting Time Sequences to Panas DF
  time_sequences_df = pd.DataFrame(time_sequences_vector_h5)
  print('Data in Block 0 Items : \n', np.array(data['block0_items']))
  print('Shape of Block 0 Items : ', np.array(data['block0_items']).shape)
  print('Data in Block 0 Values : \n', np.array(data['block0_values']))
  adj_mat_h5 = np.array(data['block0_values'])
  # Converting Sensor IDs to Pandas DF
  adj_mat_df = pd.DataFrame(adj_mat_h5)
  print('Shape of Block 0 Values : ', np.array(data['block0_values']).shape)

List of Datasets in this file are:  ['df']
Type of Data in df is:  <class 'h5py._hl.group.Group'>
Keys in df Group are :  ['axis0', 'axis1', 'block0_items', 'block0_values']
Data in Axis 0 :
 [b'773869' b'767541' b'767542' b'717447' b'717446' b'717445' b'773062'
 b'767620' b'737529' b'717816' b'765604' b'767471' b'716339' b'773906'
 b'765273' b'716331' b'771667' b'716337' b'769953' b'769402' b'769403'
 b'769819' b'769405' b'716941' b'717578' b'716960' b'717804' b'767572'
 b'767573' b'773012' b'773013' b'764424' b'769388' b'716328' b'717819'
 b'769941' b'760987' b'718204' b'718045' b'769418' b'768066' b'772140'
 b'773927' b'760024' b'774012' b'774011' b'767609' b'769359' b'760650'
 b'716956' b'769831' b'761604' b'717495' b'716554' b'773953' b'767470'
 b'716955' b'764949' b'773954' b'767366' b'769444' b'773939' b'774067'
 b'769443' b'767750' b'767751' b'767610' b'773880' b'764766' b'717497'
 b'717490' b'717491' b'717492' b'717493' b'765176' b'717498' b'717499'
 b'765171' b'718064' b'718066' b'765164' b'769431' b'769430' b'717610'
 b'767053' b'767621' b'772596' b'772597' b'767350' b'767351' b'716571'
 b'773023' b'767585' b'773024' b'717483' b'718379' b'717481' b'717480'
 b'717486' b'764120' b'772151' b'718371' b'717489' b'717488' b'717818'
 b'718076' b'718072' b'767455' b'767454' b'761599' b'717099' b'773916'
 b'716968' b'769467' b'717576' b'717573' b'717572' b'717571' b'717570'
 b'764760' b'718089' b'769847' b'717608' b'767523' b'716942' b'718090'
 b'769867' b'717472' b'717473' b'759591' b'764781' b'765099' b'762329'
 b'716953' b'716951' b'767509' b'765182' b'769358' b'772513' b'716958'
 b'718496' b'769346' b'773904' b'718499' b'764853' b'761003' b'717502'
 b'759602' b'717504' b'763995' b'717508' b'765265' b'773996' b'773995'
 b'717469' b'717468' b'764106' b'717465' b'764794' b'717466' b'717461'
 b'717460' b'717463' b'717462' b'769345' b'716943' b'772669' b'717582'
 b'717583' b'717580' b'716949' b'717587' b'772178' b'717585' b'716939'
 b'768469' b'764101' b'767554' b'773975' b'773974' b'717510' b'717513'
 b'717825' b'767495' b'767494' b'717821' b'717823' b'717458' b'717459'
 b'769926' b'764858' b'717450' b'717452' b'717453' b'759772' b'717456'
 b'771673' b'772167' b'769372' b'774204' b'769806' b'717590' b'717592'
 b'717595' b'772168' b'718141' b'769373']
Shape of Axis 0 :  (207,)
Data in Axis 1 :
 [1330560000000000000 1330560300000000000 1330560600000000000 ...
 1340840700000000000 1340841000000000000 1340841300000000000]
Shape of Axis 1 :  (34272,)
Data in Block 0 Items :
 [b'773869' b'767541' b'767542' b'717447' b'717446' b'717445' b'773062'
 b'767620' b'737529' b'717816' b'765604' b'767471' b'716339' b'773906'
 b'765273' b'716331' b'771667' b'716337' b'769953' b'769402' b'769403'
 b'769819' b'769405' b'716941' b'717578' b'716960' b'717804' b'767572'
 b'767573' b'773012' b'773013' b'764424' b'769388' b'716328' b'717819'
 b'769941' b'760987' b'718204' b'718045' b'769418' b'768066' b'772140'
 b'773927' b'760024' b'774012' b'774011' b'767609' b'769359' b'760650'
 b'716956' b'769831' b'761604' b'717495' b'716554' b'773953' b'767470'
 b'716955' b'764949' b'773954' b'767366' b'769444' b'773939' b'774067'
 b'769443' b'767750' b'767751' b'767610' b'773880' b'764766' b'717497'
 b'717490' b'717491' b'717492' b'717493' b'765176' b'717498' b'717499'
 b'765171' b'718064' b'718066' b'765164' b'769431' b'769430' b'717610'
 b'767053' b'767621' b'772596' b'772597' b'767350' b'767351' b'716571'
 b'773023' b'767585' b'773024' b'717483' b'718379' b'717481' b'717480'
 b'717486' b'764120' b'772151' b'718371' b'717489' b'717488' b'717818'
 b'718076' b'718072' b'767455' b'767454' b'761599' b'717099' b'773916'
 b'716968' b'769467' b'717576' b'717573' b'717572' b'717571' b'717570'
 b'764760' b'718089' b'769847' b'717608' b'767523' b'716942' b'718090'
 b'769867' b'717472' b'717473' b'759591' b'764781' b'765099' b'762329'
 b'716953' b'716951' b'767509' b'765182' b'769358' b'772513' b'716958'
 b'718496' b'769346' b'773904' b'718499' b'764853' b'761003' b'717502'
 b'759602' b'717504' b'763995' b'717508' b'765265' b'773996' b'773995'
 b'717469' b'717468' b'764106' b'717465' b'764794' b'717466' b'717461'
 b'717460' b'717463' b'717462' b'769345' b'716943' b'772669' b'717582'
 b'717583' b'717580' b'716949' b'717587' b'772178' b'717585' b'716939'
 b'768469' b'764101' b'767554' b'773975' b'773974' b'717510' b'717513'
 b'717825' b'767495' b'767494' b'717821' b'717823' b'717458' b'717459'
 b'769926' b'764858' b'717450' b'717452' b'717453' b'759772' b'717456'
 b'771673' b'772167' b'769372' b'774204' b'769806' b'717590' b'717592'
 b'717595' b'772168' b'718141' b'769373']
Shape of Block 0 Items :  (207,)
Data in Block 0 Values :
 [[64.375      67.625      67.125      ... 59.25       69.
  61.875     ]
 [62.66666667 68.55555556 65.44444444 ... 55.88888889 68.44444444
  62.875     ]
 [64.         63.75       60.         ... 61.375      69.85714286
  62.        ]
 ...
 [67.         59.66666667 69.55555556 ... 63.33333333 67.44444444
  61.22222222]
 [66.75       62.25       66.         ... 63.         67.875
  63.5       ]
 [65.11111111 66.88888889 66.77777778 ... 63.55555556 68.66666667
  61.77777778]]
Shape of Block 0 Values :  (34272, 207)

In [ ]:
# Converting HDF5 to CSV for EDA
sensor_id_df
# dataset2 = f["path/to/dataset2"]

             0
0    b'773869'
1    b'767541'
2    b'767542'
3    b'717447'
4    b'717446'
..         ...
202  b'717592'
203  b'717595'
204  b'772168'
205  b'718141'
206  b'769373'

[207 rows x 1 columns]

In [ ]:
time_sequences_df

                         0
0      1330560000000000000
1      1330560300000000000
2      1330560600000000000
3      1330560900000000000
4      1330561200000000000
...                    ...
34267  1340840100000000000
34268  1340840400000000000
34269  1340840700000000000
34270  1340841000000000000
34271  1340841300000000000

[34272 rows x 1 columns]

In [ ]:
adj_mat_df

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
0,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125000,67.125000,59.625000,62.750000,...,45.625000,65.500000,64.500000,66.428571,66.875000,59.375000,69.000000,59.250000,69.000000,61.875000
1,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000000,65.000000,57.444444,63.333333,...,50.666667,69.875000,66.666667,58.555556,62.000000,61.111111,64.444444,55.888889,68.444444,62.875000
2,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500000,64.250000,63.875000,65.375000,...,44.125000,69.000000,56.500000,59.250000,68.125000,62.500000,65.625000,61.375000,69.857143,62.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34267,65.000000,65.888889,68.555556,61.666667,0.000000,54.555556,62.444444,63.333333,59.222222,65.333333,...,52.888889,69.000000,65.111111,55.666667,66.333333,62.444444,66.777778,64.888889,69.666667,62.333333
34268,61.375000,65.625000,66.500000,62.750000,0.000000,50.500000,62.000000,67.000000,65.250000,67.125000,...,54.000000,69.250000,60.125000,60.500000,67.250000,59.375000,66.000000,61.250000,69.000000,62.000000
34269,67.000000,59.666667,69.555556,61.000000,0.000000,44.777778,64.222222,63.777778,59.777778,57.666667,...,51.333333,67.888889,64.333333,57.000000,66.000000,62.666667,68.666667,63.333333,67.444444,61.222222
34270,66.750000,62.250000,66.000000,59.625000,0.000000,53.000000,64.285714,64.125000,60.875000,66.250000,...,51.125000,69.375000,61.625000,60.500000,65.625000,66.375000,69.500000,63.000000,67.875000,63.500000
34271,65.111111,66.888889,66.777778,61.222222,0.000000,49.555556,65.777778,65.111111,63.000000,61.666667,...,56.000000,67.444444,64.888889,60.888889,64.222222,66.444444,68.444444,63.555556,68.666667,61.777778

In [ ]:
# Checking whether the data is sparse or not
issparse(adj_mat_df)

False

In [ ]:
adj_mat_df.head()

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
0,64.375000,67.625000,67.125000,61.500000,66.875000,68.750000,65.125,67.125,59.625000,62.750000,...,45.625000,65.500,64.500000,66.428571,66.875,59.375000,69.000000,59.250000,69.000000,61.875
1,62.666667,68.555556,65.444444,62.444444,64.444444,68.111111,65.000,65.000,57.444444,63.333333,...,50.666667,69.875,66.666667,58.555556,62.000,61.111111,64.444444,55.888889,68.444444,62.875
2,64.000000,63.750000,60.000000,59.000000,66.500000,66.250000,64.500,64.250,63.875000,65.375000,...,44.125000,69.000,56.500000,59.250000,68.125,62.500000,65.625000,61.375000,69.857143,62.000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,...,0.000000,0.000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000

In [ ]:
adj_mat_df.tail()

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
34267,65.000000,65.888889,68.555556,61.666667,0.0,54.555556,62.444444,63.333333,59.222222,65.333333,...,52.888889,69.000000,65.111111,55.666667,66.333333,62.444444,66.777778,64.888889,69.666667,62.333333
34268,61.375000,65.625000,66.500000,62.750000,0.0,50.500000,62.000000,67.000000,65.250000,67.125000,...,54.000000,69.250000,60.125000,60.500000,67.250000,59.375000,66.000000,61.250000,69.000000,62.000000
34269,67.000000,59.666667,69.555556,61.000000,0.0,44.777778,64.222222,63.777778,59.777778,57.666667,...,51.333333,67.888889,64.333333,57.000000,66.000000,62.666667,68.666667,63.333333,67.444444,61.222222
34270,66.750000,62.250000,66.000000,59.625000,0.0,53.000000,64.285714,64.125000,60.875000,66.250000,...,51.125000,69.375000,61.625000,60.500000,65.625000,66.375000,69.500000,63.000000,67.875000,63.500000
34271,65.111111,66.888889,66.777778,61.222222,0.0,49.555556,65.777778,65.111111,63.000000,61.666667,...,56.000000,67.444444,64.888889,60.888889,64.222222,66.444444,68.444444,63.555556,68.666667,61.777778

In [ ]:
adj_mat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34272 entries, 0 to 34271
Columns: 207 entries, 0 to 206
dtypes: float64(207)
memory usage: 54.1 MB

In [ ]:
adj_mat_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
count,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,...,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000,34272.000000
mean,54.631359,60.452789,60.726120,49.524287,46.079798,50.952003,54.471684,57.255095,56.068044,52.871841,...,37.803342,58.156679,51.217523,59.795754,59.329923,56.915083,62.484679,54.697381,58.920210,51.197504
std,22.619199,15.970239,18.313353,15.843261,19.350345,16.681760,17.984761,18.751065,18.240361,23.343805,...,13.525743,20.690411,22.224997,16.126225,19.849950,18.260438,16.959238,16.303651,19.080474,21.239354
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,60.364583,63.000000,65.444444,50.333333,34.666667,49.555556,55.750000,61.000000,58.222222,43.428571,...,30.444444,64.111111,53.444444,61.714286,63.666667,60.222222,65.888889,50.125000,62.888889,54.125000
50%,64.888889,65.000000,67.375000,53.875000,46.000000,56.111111,62.111111,63.333333,62.444444,65.875000,...,43.222222,67.111111,61.777778,64.875000,66.777778,63.000000,67.625000,61.125000,66.125000,62.000000
75%,66.875000,66.375000,68.444444,58.125000,64.500000,60.333333,65.000000,65.000000,64.888889,67.625000,...,46.625000,68.444444,64.375000,66.500000,68.250000,64.750000,68.625000,64.444444,67.750000,63.444444
max,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,...,65.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000

In [ ]:
adj_mat_df.isnull().sum()

0      0
1      0
2      0
3      0
4      0
      ..
202    0
203    0
204    0
205    0
206    0
Length: 207, dtype: int64

In [ ]:
adj_mat_df.corr()

,0,1,2,3,4,5,6,7,8,9,...,197,198,199,200,201,202,203,204,205,206
0,1.000000,0.637769,0.510206,0.605174,0.456675,0.573479,0.618630,0.516074,0.462342,0.290810,...,0.570211,0.670919,0.518453,0.586368,0.454290,0.481700,0.596625,0.566312,0.585063,0.489176
1,0.637769,1.000000,0.846971,0.813119,0.613031,0.790383,0.792035,0.787707,0.786949,0.575781,...,0.733161,0.755573,0.617961,0.944967,0.759842,0.792740,0.940425,0.860888,0.800500,0.621870
2,0.510206,0.846971,1.000000,0.722337,0.590502,0.701321,0.633733,0.671920,0.838274,0.741718,...,0.647872,0.598816,0.519551,0.813801,0.733021,0.681450,0.819405,0.870590,0.675446,0.579383
3,0.605174,0.813119,0.722337,1.000000,0.736534,0.889258,0.803997,0.691029,0.643462,0.531714,...,0.747188,0.790862,0.626163,0.736425,0.610629,0.644362,0.767964,0.809008,0.727463,0.670433
4,0.456675,0.613031,0.590502,0.736534,1.000000,0.618630,0.733927,0.571207,0.495107,0.513899,...,0.660759,0.626571,0.490299,0.510650,0.457111,0.482775,0.573140,0.731314,0.579529,0.663299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,0.481700,0.792740,0.681450,0.644362,0.482775,0.643865,0.626951,0.625047,0.649430,0.463509,...,0.591056,0.581006,0.465614,0.783069,0.933858,1.000000,0.809410,0.697089,0.641794,0.494677
203,0.596625,0.940425,0.819405,0.767964,0.573140,0.757590,0.746271,0.754722,0.774041,0.560694,...,0.696451,0.694942,0.572322,0.928169,0.775660,0.809410,1.000000,0.829552,0.762585,0.593245
204,0.566312,0.860888,0.870590,0.809008,0.731314,0.746786,0.760491,0.715993,0.798362,0.754304,...,0.750133,0.705241,0.597116,0.802856,0.708829,0.697089,0.829552,1.000000,0.730888,0.666751
205,0.585063,0.800500,0.675446,0.727463,0.579529,0.682788,0.750942,0.660655,0.616542,0.438951,...,0.704588,0.731330,0.648932,0.761813,0.605836,0.641794,0.762585,0.730888,1.000000,0.594881
206,0.489176,0.621870,0.579383,0.670433,0.663299,0.619246,0.641174,0.530234,0.507672,0.445763,...,0.631191,0.616060,0.512889,0.557338,0.480964,0.494677,0.593245,0.666751,0.594881,1.000000